In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import os, sys
import seaborn as sns 
import warnings 
warnings.filterwarnings("ignore")
os.getcwd()

'C:\\Users\\Packi\\Downloads\\Banking and Finance ML Project'

In [2]:
geo=pd.read_csv("Geo_scores.csv")
instance = pd.read_csv("instance_scores.csv")
lambdawts = pd.read_csv("Lambda_wts.csv")
qset = pd.read_csv("Qset_tats.csv")
train = pd.read_csv("train.csv")
test = pd.read_csv("test_share.csv")

## Geo Data

In [3]:
geo.shape

(1424035, 2)

In [4]:
geo.head(5)

       id  geo_score
0   26674       4.48
1  204314       4.48
2  176521       5.17
3   48812      -2.41
4  126870       6.55

In [5]:
geo.isnull().sum()/len(geo)*100

id           0.000000
geo_score    5.023964
dtype: float64

In [6]:
geo['id'].nunique()

284807

In [7]:
geo.describe()

                 id     geo_score
count  1.424035e+06  1.352492e+06
mean   1.424030e+05 -9.279168e-06
std    8.221673e+04  7.827199e+00
min    0.000000e+00 -1.093900e+02
25%    7.120100e+04 -5.860000e+00
50%    1.424030e+05  1.800000e-01
75%    2.136050e+05  5.860000e+00
max    2.848060e+05  4.581000e+01

In [8]:
geo.fillna(geo['geo_score'].median(), inplace=True)

In [9]:
geo.isnull().sum()

id           0
geo_score    0
dtype: int64

In [10]:
geo.nunique()

id           284807
geo_score     25524
dtype: int64

In [11]:
geo = geo.groupby('id').mean()

In [12]:
geo.shape

(284807, 1)

In [13]:
geo.head(3)

    geo_score
id
0      -0.620
1       1.106
2       0.070

## Instance Score

In [14]:
instance.shape

(1424035, 2)

In [15]:
instance.nunique()

id                 284807
instance_scores     11158
dtype: int64

In [16]:
instance.isnull().sum()

id                 0
instance_scores    0
dtype: int64

In [17]:
instance = instance.groupby('id').mean()

In [18]:
instance.shape

(284807, 1)

## Lambda wts

In [19]:
lambdawts.shape

(1400, 2)

In [20]:
lambdawts.isnull().sum()

Group        0
lambda_wt    0
dtype: int64

## Qset

In [21]:
qset.shape

(1424035, 2)

In [22]:
qset.nunique()

id                      284807
qsets_normalized_tat     24832
dtype: int64

In [23]:
qset.isnull().sum()/len(qset)*100

id                      0.000000
qsets_normalized_tat    7.247083
dtype: float64

In [24]:
qset.fillna(qset['qsets_normalized_tat'].median(), inplace=True)

In [25]:
qset.head(5)

       id  qsets_normalized_tat
0    9983                  2.41
1  266000                  3.10
2   77525                  1.03
3  160765                -11.63
4  138220                 -4.48

In [26]:
qset.isnull().sum()

id                      0
qsets_normalized_tat    0
dtype: int64

In [27]:
qset.shape

(1424035, 2)

In [28]:
qset = qset.groupby('id').mean()

In [29]:
qset.shape

(284807, 1)

## Train data set

In [30]:
train.shape

(227845, 28)

In [31]:
train.head()

,id,Group,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,...,Dem8,Dem9,Cred1,Cred2,Cred3,Cred4,Cred5,Cred6,Normalised_FNT,Target
0,112751,Grp169,1.070000,0.580000,0.480000,0.766667,1.233333,1.993333,0.340000,1.010000,...,0.680000,0.726667,0.606667,1.010000,0.933333,0.603333,0.686667,0.673333,-245.7500,0
1,18495,Grp161,0.473333,1.206667,0.883333,1.430000,0.726667,0.626667,0.810000,0.783333,...,0.716667,0.743333,0.680000,0.690000,0.560000,0.670000,0.553333,0.653333,-248.0000,0
2,23915,Grp261,1.130000,0.143333,0.946667,0.123333,0.080000,0.836667,0.056667,0.756667,...,0.690000,0.820000,0.600000,0.383333,0.763333,0.670000,0.686667,0.673333,-233.1250,0
3,50806,Grp198,0.636667,1.090000,0.750000,0.940000,0.743333,0.346667,0.956667,0.633333,...,0.720000,0.900000,0.680000,0.846667,0.423333,0.520000,0.846667,0.760000,-249.7775,0
4,184244,Grp228,0.560000,1.013333,0.593333,0.416667,0.773333,0.460000,0.853333,0.796667,...,0.603333,0.486667,0.693333,0.526667,0.520000,0.716667,0.706667,0.673333,-247.5775,0

In [32]:
train.isnull().sum()

id                0
Group             0
Per1              0
Per2              0
Per3              0
Per4              0
Per5              0
Per6              0
Per7              0
Per8              0
Per9              0
Dem1              0
Dem2              0
Dem3              0
Dem4              0
Dem5              0
Dem6              0
Dem7              0
Dem8              0
Dem9              0
Cred1             0
Cred2             0
Cred3             0
Cred4             0
Cred5             0
Cred6             0
Normalised_FNT    0
Target            0
dtype: int64

In [33]:
test.shape

(56962, 27)

In [34]:
test.isnull().sum()

id                0
Group             0
Per1              0
Per2              0
Per3              0
Per4              0
Per5              0
Per6              0
Per7              0
Per8              0
Per9              0
Dem1              0
Dem2              0
Dem3              0
Dem4              0
Dem5              0
Dem6              0
Dem7              0
Dem8              0
Dem9              0
Cred1             0
Cred2             0
Cred3             0
Cred4             0
Cred5             0
Cred6             0
Normalised_FNT    0
dtype: int64

In [35]:
train['Group'].nunique()

1301

In [36]:
test['Group'].nunique()

915

In [37]:
train['data'] = 'train'

In [38]:
test['data'] = 'test'

In [39]:
train.head()

,id,Group,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,...,Dem9,Cred1,Cred2,Cred3,Cred4,Cred5,Cred6,Normalised_FNT,Target,data
0,112751,Grp169,1.070000,0.580000,0.480000,0.766667,1.233333,1.993333,0.340000,1.010000,...,0.726667,0.606667,1.010000,0.933333,0.603333,0.686667,0.673333,-245.7500,0,train
1,18495,Grp161,0.473333,1.206667,0.883333,1.430000,0.726667,0.626667,0.810000,0.783333,...,0.743333,0.680000,0.690000,0.560000,0.670000,0.553333,0.653333,-248.0000,0,train
2,23915,Grp261,1.130000,0.143333,0.946667,0.123333,0.080000,0.836667,0.056667,0.756667,...,0.820000,0.600000,0.383333,0.763333,0.670000,0.686667,0.673333,-233.1250,0,train
3,50806,Grp198,0.636667,1.090000,0.750000,0.940000,0.743333,0.346667,0.956667,0.633333,...,0.900000,0.680000,0.846667,0.423333,0.520000,0.846667,0.760000,-249.7775,0,train
4,184244,Grp228,0.560000,1.013333,0.593333,0.416667,0.773333,0.460000,0.853333,0.796667,...,0.486667,0.693333,0.526667,0.520000,0.716667,0.706667,0.673333,-247.5775,0,train

In [40]:
test.head()

,id,Group,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,...,Dem8,Dem9,Cred1,Cred2,Cred3,Cred4,Cred5,Cred6,Normalised_FNT,data
0,146574,Grp229,-0.300000,1.540000,0.220000,-0.280000,0.570000,0.260000,0.700000,1.076667,...,0.546667,0.313333,0.703333,0.813333,0.776667,0.796667,0.823333,0.783333,-249.7500,test
1,268759,Grp141,0.633333,0.953333,0.810000,0.466667,0.910000,0.253333,1.040000,0.550000,...,0.770000,0.993333,0.536667,0.703333,0.806667,0.630000,0.673333,0.673333,-249.8125,test
2,59727,Grp188,1.043333,0.740000,0.860000,1.006667,0.583333,0.616667,0.630000,0.686667,...,0.756667,0.953333,0.623333,0.753333,0.870000,0.596667,0.680000,0.670000,-248.1200,test
3,151544,Grp426,1.283333,0.300000,0.576667,0.636667,0.256667,0.543333,0.356667,0.663333,...,0.460000,0.260000,0.800000,0.606667,0.456667,0.320000,0.676667,0.660000,-222.9875,test
4,155008,Grp443,1.186667,0.326667,0.476667,0.866667,0.436667,0.680000,0.476667,0.686667,...,0.740000,0.823333,0.670000,0.896667,0.566667,0.546667,0.650000,0.663333,-196.2200,test

In [41]:
train.columns

Index(['id', 'Group', 'Per1', 'Per2', 'Per3', 'Per4', 'Per5', 'Per6', 'Per7',
       'Per8', 'Per9', 'Dem1', 'Dem2', 'Dem3', 'Dem4', 'Dem5', 'Dem6', 'Dem7',
       'Dem8', 'Dem9', 'Cred1', 'Cred2', 'Cred3', 'Cred4', 'Cred5', 'Cred6',
       'Normalised_FNT', 'Target', 'data'],
      dtype='object')

In [42]:
test.columns

Index(['id', 'Group', 'Per1', 'Per2', 'Per3', 'Per4', 'Per5', 'Per6', 'Per7',
       'Per8', 'Per9', 'Dem1', 'Dem2', 'Dem3', 'Dem4', 'Dem5', 'Dem6', 'Dem7',
       'Dem8', 'Dem9', 'Cred1', 'Cred2', 'Cred3', 'Cred4', 'Cred5', 'Cred6',
       'Normalised_FNT', 'data'],
      dtype='object')

In [43]:
new_data = pd.concat([train, test],axis=0)

In [44]:
new_data.shape

(284807, 29)

In [45]:
new_data['id'].nunique()

284807

In [46]:
new_data['Group'].nunique()

1400

## Merging all the other datasets into the New Data set

In [47]:
geo.head(2)

    geo_score
id
0      -0.620
1       1.106

In [48]:
new_data = pd.merge(new_data, geo, on ='id', how='left')

In [49]:
new_data.shape

(284807, 30)

In [50]:
instance.head(2)

    instance_scores
id
0              0.09
1             -0.17

In [51]:
new_data = pd.merge(new_data, instance, on ='id', how='left')

In [52]:
new_data.shape

(284807, 31)

In [53]:
lambdawts.head(2)

    Group  lambda_wt
0  Grp936       3.41
1  Grp347      -2.88

In [54]:
new_data = pd.merge(new_data, lambdawts, on ='Group', how='left')

In [55]:
new_data.shape

(284807, 32)

In [56]:
qset.head(2)

    qsets_normalized_tat
id
0                  0.214
1                 -0.110

In [57]:
new_data = pd.merge(new_data, qset, on ='id', how='left')

In [58]:
new_data.shape

(284807, 33)

In [59]:
new_data.isnull().sum()

id                          0
Group                       0
Per1                        0
Per2                        0
Per3                        0
Per4                        0
Per5                        0
Per6                        0
Per7                        0
Per8                        0
Per9                        0
Dem1                        0
Dem2                        0
Dem3                        0
Dem4                        0
Dem5                        0
Dem6                        0
Dem7                        0
Dem8                        0
Dem9                        0
Cred1                       0
Cred2                       0
Cred3                       0
Cred4                       0
Cred5                       0
Cred6                       0
Normalised_FNT              0
Target                  56962
data                        0
geo_score                   0
instance_scores             0
lambda_wt                   0
qsets_normalized_tat        0
dtype: int64

In [60]:
train = new_data[new_data['data']=='train']
test = new_data[new_data['data'] == 'test']

In [61]:
train.head()

,id,Group,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,...,Cred4,Cred5,Cred6,Normalised_FNT,Target,data,geo_score,instance_scores,lambda_wt,qsets_normalized_tat
0,112751,Grp169,1.070000,0.580000,0.480000,0.766667,1.233333,1.993333,0.340000,1.010000,...,0.603333,0.686667,0.673333,-245.7500,0.0,train,0.256,-0.06,-0.13,-0.700
1,18495,Grp161,0.473333,1.206667,0.883333,1.430000,0.726667,0.626667,0.810000,0.783333,...,0.670000,0.553333,0.653333,-248.0000,0.0,train,-0.250,0.52,0.66,0.140
2,23915,Grp261,1.130000,0.143333,0.946667,0.123333,0.080000,0.836667,0.056667,0.756667,...,0.670000,0.686667,0.673333,-233.1250,0.0,train,-0.950,1.56,-0.51,-0.430
3,50806,Grp198,0.636667,1.090000,0.750000,0.940000,0.743333,0.346667,0.956667,0.633333,...,0.520000,0.846667,0.760000,-249.7775,0.0,train,0.490,0.70,0.72,-0.302
4,184244,Grp228,0.560000,1.013333,0.593333,0.416667,0.773333,0.460000,0.853333,0.796667,...,0.716667,0.706667,0.673333,-247.5775,0.0,train,0.850,-0.47,0.60,-0.630

In [62]:
train.shape

(227845, 33)

In [63]:
test.shape

(56962, 33)

In [64]:
test.head()

,id,Group,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,...,Cred4,Cred5,Cred6,Normalised_FNT,Target,data,geo_score,instance_scores,lambda_wt,qsets_normalized_tat
227845,146574,Grp229,-0.300000,1.540000,0.220000,-0.280000,0.570000,0.260000,0.700000,1.076667,...,0.796667,0.823333,0.783333,-249.7500,NaN,test,0.25,-0.04,0.76,-0.426
227846,268759,Grp141,0.633333,0.953333,0.810000,0.466667,0.910000,0.253333,1.040000,0.550000,...,0.630000,0.673333,0.673333,-249.8125,NaN,test,0.43,-0.77,0.18,-0.620
227847,59727,Grp188,1.043333,0.740000,0.860000,1.006667,0.583333,0.616667,0.630000,0.686667,...,0.596667,0.680000,0.670000,-248.1200,NaN,test,1.32,0.11,0.39,-0.406
227848,151544,Grp426,1.283333,0.300000,0.576667,0.636667,0.256667,0.543333,0.356667,0.663333,...,0.320000,0.676667,0.660000,-222.9875,NaN,test,-2.11,0.33,1.80,0.374
227849,155008,Grp443,1.186667,0.326667,0.476667,0.866667,0.436667,0.680000,0.476667,0.686667,...,0.546667,0.650000,0.663333,-196.2200,NaN,test,-2.11,-0.37,1.89,-0.130

In [65]:
train.columns

Index(['id', 'Group', 'Per1', 'Per2', 'Per3', 'Per4', 'Per5', 'Per6', 'Per7',
       'Per8', 'Per9', 'Dem1', 'Dem2', 'Dem3', 'Dem4', 'Dem5', 'Dem6', 'Dem7',
       'Dem8', 'Dem9', 'Cred1', 'Cred2', 'Cred3', 'Cred4', 'Cred5', 'Cred6',
       'Normalised_FNT', 'Target', 'data', 'geo_score', 'instance_scores',
       'lambda_wt', 'qsets_normalized_tat'],
      dtype='object')

## Definining Independent and dependent variables

In [66]:
X_train = train.drop(['id', 'Group','Target', 'data' ], axis=1)
Y_train = train['Target']

In [67]:
X_train.head()

,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,Per9,Dem1,...,Cred2,Cred3,Cred4,Cred5,Cred6,Normalised_FNT,geo_score,instance_scores,lambda_wt,qsets_normalized_tat
0,1.070000,0.580000,0.480000,0.766667,1.233333,1.993333,0.340000,1.010000,0.863333,0.460000,...,1.010000,0.933333,0.603333,0.686667,0.673333,-245.7500,0.256,-0.06,-0.13,-0.700
1,0.473333,1.206667,0.883333,1.430000,0.726667,0.626667,0.810000,0.783333,0.190000,0.470000,...,0.690000,0.560000,0.670000,0.553333,0.653333,-248.0000,-0.250,0.52,0.66,0.140
2,1.130000,0.143333,0.946667,0.123333,0.080000,0.836667,0.056667,0.756667,0.226667,0.660000,...,0.383333,0.763333,0.670000,0.686667,0.673333,-233.1250,-0.950,1.56,-0.51,-0.430
3,0.636667,1.090000,0.750000,0.940000,0.743333,0.346667,0.956667,0.633333,0.486667,1.096667,...,0.846667,0.423333,0.520000,0.846667,0.760000,-249.7775,0.490,0.70,0.72,-0.302
4,0.560000,1.013333,0.593333,0.416667,0.773333,0.460000,0.853333,0.796667,0.516667,0.756667,...,0.526667,0.520000,0.716667,0.706667,0.673333,-247.5775,0.850,-0.47,0.60,-0.630

In [68]:
X_train.isnull().sum()

Per1                    0
Per2                    0
Per3                    0
Per4                    0
Per5                    0
Per6                    0
Per7                    0
Per8                    0
Per9                    0
Dem1                    0
Dem2                    0
Dem3                    0
Dem4                    0
Dem5                    0
Dem6                    0
Dem7                    0
Dem8                    0
Dem9                    0
Cred1                   0
Cred2                   0
Cred3                   0
Cred4                   0
Cred5                   0
Cred6                   0
Normalised_FNT          0
geo_score               0
instance_scores         0
lambda_wt               0
qsets_normalized_tat    0
dtype: int64

In [69]:
Y_train.head(4)

0    0.0
1    0.0
2    0.0
3    0.0
Name: Target, dtype: float64

- (0)Zero Indicates "No Fraud"
- (1)One Indicates "Fraud"

In [70]:
Y_train.value_counts()

0.0    227451
1.0       394
Name: Target, dtype: int64

In [71]:
fraud = train[train['Target'] ==1]

In [72]:
fraud_transaction = (len(fraud)/(2274751+394))*100
fraud_transaction

0.01731757756099062

In [73]:
test.columns

Index(['id', 'Group', 'Per1', 'Per2', 'Per3', 'Per4', 'Per5', 'Per6', 'Per7',
       'Per8', 'Per9', 'Dem1', 'Dem2', 'Dem3', 'Dem4', 'Dem5', 'Dem6', 'Dem7',
       'Dem8', 'Dem9', 'Cred1', 'Cred2', 'Cred3', 'Cred4', 'Cred5', 'Cred6',
       'Normalised_FNT', 'Target', 'data', 'geo_score', 'instance_scores',
       'lambda_wt', 'qsets_normalized_tat'],
      dtype='object')

In [74]:
X_test = test.drop(['id', 'Group','Target', 'data'], axis=1)
Y_test = test['Target']

In [75]:
X_test.shape

(56962, 29)

In [76]:
X_test.head()

,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,Per9,Dem1,...,Cred2,Cred3,Cred4,Cred5,Cred6,Normalised_FNT,geo_score,instance_scores,lambda_wt,qsets_normalized_tat
227845,-0.300000,1.540000,0.220000,-0.280000,0.570000,0.260000,0.700000,1.076667,0.930000,0.156667,...,0.813333,0.776667,0.796667,0.823333,0.783333,-249.7500,0.25,-0.04,0.76,-0.426
227846,0.633333,0.953333,0.810000,0.466667,0.910000,0.253333,1.040000,0.550000,0.543333,0.433333,...,0.703333,0.806667,0.630000,0.673333,0.673333,-249.8125,0.43,-0.77,0.18,-0.620
227847,1.043333,0.740000,0.860000,1.006667,0.583333,0.616667,0.630000,0.686667,0.593333,1.250000,...,0.753333,0.870000,0.596667,0.680000,0.670000,-248.1200,1.32,0.11,0.39,-0.406
227848,1.283333,0.300000,0.576667,0.636667,0.256667,0.543333,0.356667,0.663333,1.156667,1.186667,...,0.606667,0.456667,0.320000,0.676667,0.660000,-222.9875,-2.11,0.33,1.80,0.374
227849,1.186667,0.326667,0.476667,0.866667,0.436667,0.680000,0.476667,0.686667,1.476667,1.213333,...,0.896667,0.566667,0.546667,0.650000,0.663333,-196.2200,-2.11,-0.37,1.89,-0.130

In [77]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56962 entries, 227845 to 284806
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Per1                  56962 non-null  float64
 1   Per2                  56962 non-null  float64
 2   Per3                  56962 non-null  float64
 3   Per4                  56962 non-null  float64
 4   Per5                  56962 non-null  float64
 5   Per6                  56962 non-null  float64
 6   Per7                  56962 non-null  float64
 7   Per8                  56962 non-null  float64
 8   Per9                  56962 non-null  float64
 9   Dem1                  56962 non-null  float64
 10  Dem2                  56962 non-null  float64
 11  Dem3                  56962 non-null  float64
 12  Dem4                  56962 non-null  float64
 13  Dem5                  56962 non-null  float64
 14  Dem6                  56962 non-null  float64
 15  Dem7                  56962 non-null  float64
 16  Dem8                  56962 non-null  float64
 17  Dem9                  56962 non-null  float64
 18  Cred1                 56962 non-null  float64
 19  Cred2                 56962 non-null  float64
 20  Cred3                 56962 non-null  float64
 21  Cred4                 56962 non-null  float64
 22  Cred5                 56962 non-null  float64
 23  Cred6                 56962 non-null  float64
 24  Normalised_FNT        56962 non-null  float64
 25  geo_score             56962 non-null  float64
 26  instance_scores       56962 non-null  float64
 27  lambda_wt             56962 non-null  float64
 28  qsets_normalized_tat  56962 non-null  float64
dtypes: float64(29)
memory usage: 13.0 MB

In [78]:
X_test.describe()

,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,Per9,Dem1,...,Cred2,Cred3,Cred4,Cred5,Cred6,Normalised_FNT,geo_score,instance_scores,lambda_wt,qsets_normalized_tat
count,56962.000000,56962.000000,56962.000000,56962.000000,56962.000000,56962.000000,56962.000000,56962.000000,56962.000000,56962.000000,...,56962.000000,56962.000000,56962.000000,56962.000000,56962.000000,56962.000000,56962.000000,56962.000000,56962.000000,56962.000000
mean,0.669323,0.662527,0.668063,0.666584,0.666442,0.663821,0.665603,0.668204,0.666587,0.667017,...,0.668284,0.666312,0.665824,0.667069,0.666225,-227.746298,0.009541,0.000478,-0.001378,0.001914
std,0.647936,0.558884,0.501648,0.471968,0.454826,0.442137,0.398932,0.384103,0.364889,0.339454,...,0.200595,0.172000,0.160512,0.129587,0.103485,64.792147,1.006116,1.078250,0.961203,0.846048
min,-14.953333,-20.446667,-7.246667,-1.086667,-9.786667,-6.016667,-7.130000,-11.783333,-1.906667,-0.933333,...,-0.263333,-1.693333,-0.200000,-1.993333,-2.140000,-250.000000,-18.430000,-14.920000,-15.070000,-21.670000
25%,0.360000,0.463333,0.370000,0.383333,0.433333,0.410000,0.483333,0.596667,0.450000,0.416667,...,0.550000,0.560000,0.556667,0.643333,0.650000,-248.554375,-0.394000,-0.530000,-0.420000,-0.480000
50%,0.676667,0.686667,0.726667,0.660000,0.646667,0.573333,0.680000,0.673333,0.650000,0.656667,...,0.683333,0.670000,0.646667,0.666667,0.670000,-244.325000,0.152000,-0.090000,0.050000,-0.060000
75%,1.106667,0.933333,1.010000,0.916667,0.870000,0.796667,0.856667,0.773333,0.866667,0.913333,...,0.813333,0.783333,0.746667,0.696667,0.693333,-230.500000,0.630000,0.460000,0.490000,0.400000
max,1.483333,4.930000,2.013333,6.293333,10.340000,7.460000,10.403333,4.923333,4.116667,4.183333,...,2.003333,2.690000,1.720000,3.046667,5.790000,4664.132500,4.320000,15.330000,7.190000,9.250000

In [79]:
# Feauture Scaling 
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix,classification_report
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

## Building various ML Model

In [80]:
Model_Comparision = {}

In [81]:
# Scaling the Data 
Scaler = StandardScaler()
X_train_scaled = Scaler.fit_transform(X_train)
X_test_scaled= Scaler.transform(X_test)

In [82]:
# Splitting the Train and Test data 
X_train1, X_test1,Y_train1,Y_test1 = train_test_split(X_train_scaled,Y_train,test_size=0.2,random_state=42)

In [83]:
ClfLog = LogisticRegression()

### Logistic Regression

In [84]:
ClfLog.fit(X_train1,Y_train1)

LogisticRegression()

In [85]:
Y_pred_ClfLog_train = ClfLog.predict(X_train1)
Y_pred_ClfLog_test = ClfLog.predict(X_test1)

In [86]:
confusion_matrix(Y_test1, Y_pred_ClfLog_test)

array([[45479,     5],
       [   44,    41]], dtype=int64)

In [87]:
print(classification_report(Y_train1, Y_pred_ClfLog_train))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00    181967
         1.0       0.87      0.61      0.72       309

    accuracy                           1.00    182276
   macro avg       0.93      0.80      0.86    182276
weighted avg       1.00      1.00      1.00    182276

In [88]:
print(classification_report(Y_test1, Y_pred_ClfLog_test))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00     45484
         1.0       0.89      0.48      0.63        85

    accuracy                           1.00     45569
   macro avg       0.95      0.74      0.81     45569
weighted avg       1.00      1.00      1.00     45569

In [89]:
accuracy_score(Y_train1, Y_pred_ClfLog_train)

0.9991825583181548

In [90]:
accuracy_score(Y_test1, Y_pred_ClfLog_test)

0.9989247075862977

### Decision Tree

In [91]:
ClfDT = DecisionTreeClassifier()

In [92]:
ClfDT.fit(X_train1, Y_train1)

DecisionTreeClassifier()

In [93]:
ClfDT_Y_pred_train = ClfDT.predict(X_train1)
ClfDT_Y_pred_test = ClfDT.predict(X_test1)

In [94]:
confusion_matrix(Y_test1,ClfDT_Y_pred_test)

array([[45461,    23],
       [   21,    64]], dtype=int64)

In [95]:
accuracy_score(Y_test1,ClfDT_Y_pred_test)

0.9990344313019817

In [97]:
print(classification_report(Y_train1,ClfDT_Y_pred_train ))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00    181967
         1.0       1.00      1.00      1.00       309

    accuracy                           1.00    182276
   macro avg       1.00      1.00      1.00    182276
weighted avg       1.00      1.00      1.00    182276

In [96]:
print(classification_report(Y_test1,ClfDT_Y_pred_test ))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00     45484
         1.0       0.74      0.75      0.74        85

    accuracy                           1.00     45569
   macro avg       0.87      0.88      0.87     45569
weighted avg       1.00      1.00      1.00     45569